<%- include('partials/header') %>

<div class="col-md-4 offset-md-4">
    <h2 class="text-center">Bienvenido Administrador</h2>
    <h2 class="text-center">Elige una opcion</h2>

    <form method="post"> <!--role="form"-->
        <a href="/chart" class="btn btn-danger my-2" >Ver grafica  </a>


        <a href="/brigades" class="btn btn-danger my-2" >Administrar brigadistas  </a>

    </form>
</div>


<%- include('partials/footer') %>