<%- include('partials/header') %>

<div class="col-md-4 offset-md-4">
    <h2 class="text-center">Bienvenido brigadista</h2>
    <h2 class="text-center">Elige una opción</h2>

    <form action = "/entries" method="get">
        <div class="form-group my-2">
            <input type="submit" value="Solicitudes Activas" class="btn btn-primary"
        </div>
    </form>
    
    <form action = "/entries" method="post">
        <div class="form-group my-2">
            <input type="submit" value="Solicitudes Pasadas" class="btn btn-primary"
        </div>
    </form>

</div>

<form method="post"> <!--role="form"-->

    <div class="form-group">
        <label for ="title">¿Ya ayudaste? Desactiva la solicitud</label>
        <input type="2" name="requestID" id="requestID" class="form-control" placeholder="Ingresa el ID" required>
    </div>

    <div class="form-group  my-2 ">
        <input type="submit" value="Desactivar" class="btn btn-primary"
    </div>

</form>


<%- include('partials/footer') %>