<%- include('partials/header') %>

  <center>
    <div>
      <canvas id="myChart" height="500" width="500"></canvas>
    </div>
  </center>
  <!-- For Serialization Function -->
  <script type="text/javascript" src="http://form-serialize.googlecode.com/svn/trunk/serialize-0.2.min.js"></script>


  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <div id="a" data-x=<%= a %>></div> 
  <div id="b" data-x=<%= b %>></div>

  <div>
  <script>
    var a= document.getElementById('a').dataset.x
    var b= document.getElementById('b').dataset.x

    const ctx = document.getElementById('myChart').getContext("2d");

  
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Casos'],
        datasets: [{
          backgrountColor:"red",
          borderColor:"red",
          label: '# of Casos atendidos',
          data: [b],
          borderWidth: 1
        },
        {
          backgrountColor:"cian",
          borderColor:"blue",
          label: '# of Casos no atendidos',
          data: [a],
          borderWidth: 1
        }

      ]
      },
      options: {
        responsive: false,
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
  </div>

<%- include('partials/footer') %>