
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auxilio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<hr>
<style>
        img{
                display:block;
                margin-left: auto;
                margin-right: auto;
        }
</style>
<img  src="https://s.yimg.com/ny/api/res/1.2/qYmo7xxFysRRzpNLOJZgDA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MDtoPTQyNw--/https://s.yimg.com/uu/api/res/1.2/WVj8lo0.JrV3F80Yx1vJqQ--~B/aD0yODg4O3c9NDMzMjthcHBpZD15dGFjaHlvbg--/http://media.zenfs.com/en/homerun/feed_manager_auto_publish_494/7bb18dbd781fcd09bd12998ea2870f47" alt="Brigada" class="center" >
<p>
<h2 class="text-center">Bienvenido a Helping Hand</h2>
<div class="col-my-8 offset-md-5">
        
        <a href="/log-in" class="btn btn-danger my-2 " > Iniciar sesión </a>
        

</div>

</body>
</html>



