<%- include('partials/header') %>

<style>
        img{
                display:block;
                margin-left: auto;
                margin-right: auto;
        }
</style>
<img  src="https://s.yimg.com/ny/api/res/1.2/qYmo7xxFysRRzpNLOJZgDA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MDtoPTQyNw--/https://s.yimg.com/uu/api/res/1.2/WVj8lo0.JrV3F80Yx1vJqQ--~B/aD0yODg4O3c9NDMzMjthcHBpZD15dGFjaHlvbg--/http://media.zenfs.com/en/homerun/feed_manager_auto_publish_494/7bb18dbd781fcd09bd12998ea2870f47" alt="Brigada" class="center" >
<h2 class="text-center">Bienvenido a Helping Hand</h2>
<div class="col-md-3 offset-md-5">

        <a href="/log-in" class="btn btn-primary my-2" >Iniciar sesión </a>

</div>



<%- include('partials/footer') %>