<%- include('partials/header') %>

<body onload="getLocation()">

<div class="col-md-4 offset-md-4">
    <h2 class="text-center">Reporte</h2>


    <form method="post"> <!--role="form"-->
        <div class="form-group">
            <label for ="title">Username</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Ingresa tu usuario" required>
        </div><br>

        <div class="form-group">
            <label for="title">Descripción</label><br>

            <textarea name ="descripcion" id="descripcion" rows="3" class="for-control" placeholder="Ingresa una descripción de tu situación" required></textarea>
        </div><br>

        <div class="form-group">
            <label for="severidad"> Severidad </label>

            <select name="severidad" id="severidad">
              <option value="0" selected="selected">Selecciona una opcion</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
        </div><br>

        <input type="hidden" id="latitude" name="latitude" value="" />
        <input type="hidden" id="longitude" name="longitude" value="" />

        <p id="demo"></p>

        <script>
        var x = document.getElementById("demo");
        
        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
          } else { 
            x.innerHTML = "Este browser no soporta geolocalización";
          }
        }
        
        function showPosition(position) {
          
          latitude = position.coords.latitude.toString();
          longitude = position.coords.longitude.toString();
          
          x.innerHTML = "Localización<br>" + "Latitude: " + latitude + 
          "<br>Longitude: " + longitude;

          document.getElementById("latitude").value = position.coords.latitude.toString();
          document.getElementById("longitude").value = position.coords.longitude.toString();
        }
        </script>

        <div class="form-group my-2">
            <input type="submit" value="Enviar" class="btn btn-primary"
        </div>

        

        

    </form>
</div>

</body>



<%- include('partials/footer') %>