<%- include('partials/header') %>

<div class="col-md-4 offset-md-4">
    <h2 class="text-center">Tu solicitud ha sido recibida!</h2>

        <div class="form-group my-2">
            <input type="submit" value="Realizar otra" class="btn btn-primary"
        </div>

    </form>
</div>

<%- include('partials/footer') %>