<%- include('partials/header') %>

<div style="text-align:center;width: 500px;margin: 0 auto">
    <h2 class="text-center">Tu solicitud ha sido recibida!</h2><br>

    </form>
</div>



<div style="text-align:center;width: 500px;margin: 0 auto">
    <a href="/new-entry" class="btn btn-danger" > Realizar otra </a>

    </form>
</div>

<%- include('partials/footer') %>