<%- include('partials/header') %>

<div class="col-md-4 offset-md-4">
    <h2 class="text-center">Tu solicitud ha sido recibida!</h2><br>

    </form>
</div>



<div class="col-md-4 offset-md-4">
    <a href="/new-entry" class="btn btn-danger" > Realizar otra </a>

    </form>
</div>

<%- include('partials/footer') %>